body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
   background-color: rgb(138, 82, 82);
   font-family: 'JetBrains Mono', 'Arial Narrow', Arial, sans-serif;
   margin: 0;
   color: rgb(51, 39, 45);
   align-items: center;
}

body div {
   display: flex;
   justify-content: center;
}

.heading {
   font-size: 12px;
   background-color: rgb(255, 255, 255);
   border-radius: 4px;
   max-width: 900px;
   padding: 0 10px;
   color: rgb(167, 118, 27);
   border: 3px solid rgb(63, 48, 48);
}

.main {
   flex-direction: column;
   align-items: center;
   margin-bottom: auto;
   margin-top: 100px;
   padding: 30px;
   min-height: 60vh;
   gap: 10px;
}

button {
   align-items: center;
   cursor: pointer;
   background-color: #FCFCFD;
   border-radius: 4px;
   border-width: 0;
   box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
   color: #36395A;
   font-family: "JetBrains Mono", monospace;
   height: 48px;
   padding-left: 16px;
   padding-right: 16px;
   font-size: 18px;
}

.backPlate {
   border: 6px solid rgb(255, 184, 96);
   border-radius: 10px;
   padding: 8px;
}

.sketch {
   display: flex;
   flex-wrap: wrap;
   background-color: antiquewhite;
   margin-bottom: auto;
}

.sketch div {
   background-color: aliceblue;
}

.sliders {
   display: flex;
   flex-direction: column;
   gap: 5px;
   margin-top: 30px;
}

input[type='range'] {
   -webkit-appearance: none;
   background-color: rgba(0, 0, 0, 0)
}

input[type='range']::-webkit-slider-runnable-track {
   height: 12px;
   border: 2px solid antiquewhite;
   border-radius: 8px;
   background: rgb(63, 48, 48);
}

input[type='range']::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 18px;
   height: 18px;
   border-radius: 4px;
   margin-top: -5px;
   background: rgb(139, 125, 125);
   border-style: inset;
   border-color: rgb(196, 187, 187);
}

.sketch #filledOne {
   background-color: rgba(41, 45, 49, 0.11);
}

.sketch #filledTwo {
   background-color: rgba(41, 45, 49, 0.2);
}

.sketch #filledThree {
   background-color: rgba(41, 45, 49, 0.3);
}
.sketch #filledFour {
   background-color: rgba(41, 45, 49, 0.4);
}

.sketch #filledFive {
   background-color: rgba(41, 45, 49, 0.5);
}

.sketch #filledSix {
   background-color: rgba(41, 45, 49, 0.6);
}
.sketch #filledSeven {
   background-color: rgba(41, 45, 49, 0.7);
}

.sketch #filledEight {
   background-color: rgba(41, 45, 49, 0.8);
}

.sketch #filledNine {
   background-color: rgba(41, 45, 49, 0.89);
}